<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>American Dialect Identification</title>
    <script> window.probabilities = {{ probabilities | tojson }}; </script>
    <script src="{{ url_for('static', filename='js/adi-map.js') }}"></script>
  </head>

  <body>
    <div class="container">
      <div class="card">
        <!-- Upload form -->
        <form method="POST" enctype="multipart/form-data">
          <label for="audio"> Upload audio: </label>
          <input type="file" name="audio" id="audio" accept=".mp3, .wav" multiple/>

          <label for="model_selection"> Select model: </label>
          <select name="model_selection" id="model_selection">
            <option value="wav2vec_lr"> wav2vec_lr </option>
          </select>

          <input type="submit" name="upload" value="Upload"/>
        </form>
      </div>

      <div class="card map-container">
        Overall region: {% if result %} {{ result }} {% endif %}
        {% include "adi_usa_map.svg" %}
      </div>

      <div class="card graph-container">
        Model Predictions by Region
        {{ chart|safe }}
      </div>
    </div>

    <div id="map-tooltip"></div>

  </body>
</html>
